body.light-mode {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif !important;
  margin: none !important;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

body.dark-mode {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif !important;
  margin: none !important;
  padding: 2rem;
  background-color: rgb(17, 17, 17);
  color: white;
}

.dark-mode{
  .settings-container {
    border: 2px solid rgb(65, 65, 65);
    border-radius: 10px;
    padding: 10px;
  }
  input, select, textarea{
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 10px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
  }
  input:focus, select:focus, textarea:focus{
    outline: 1px solid rgb(100, 100, 100);
    border: 1px solid rgb(100, 100, 100);
  }
  .item-container{
    border: 2px solid #202020;
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .sub-item-container{
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .file-loader-container{
    border: 2px dashed rgb(70, 70, 70);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
  }

  .file-item-container{
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(53, 53, 53);
  }

  .file-item-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .selected-files-container{
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
  }

  .file-too-large.file-item-container{
    border: 2px solid rgb(255, 82, 82) !important;
    background-color: rgb(180, 27, 27) !important;
  }

  p.file-too-large-text, p.incompatible-file-type-text{
    display: none;
    color: white;
  }

  .agent-response-container{
    border: 2px solid rgb(70, 70, 70);
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    min-height: 300px;
  }

  .header-container-image{
    background-color: rgb(17, 17, 17);
  }

  .task-item{
    border: 1px solid  rgb(70, 70, 70);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .modal-error-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    min-height: 50%;
    min-width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    text-align: center;
  }
}

.light-mode{
  
    .settings-container {
      border: 2px solid rgb(200, 200, 200);
      border-radius: 10px;
      padding: 10px;
    }
    input, select, textarea {
      background-color: rgb(240, 240, 240);
      color: rgb(0, 0, 0);
      padding: 10px;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 10px;
  }
    input:focus, select:focus{
      outline: 1px solid rgb(100, 100, 100);
      border: 1px solid rgb(100, 100, 100);
  }
    .item-container{
      border: 2px solid rgb(220, 220, 220);
      background-color: rgb(250, 250, 250);
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .sub-item-container{
      border: 1px solid rgb(200, 200, 200);
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
    }
    .file-loader-container{
      border: 2px dashed rgb(200, 200, 200);
      border-radius: 10px;
      padding: 20px;
      position: relative;
      text-align: center;
      cursor: pointer;
      margin-top: 10px;
    }

    .file-item-container{
      border: 1px solid rgb(200, 200, 200);
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
      background-color: rgb(240, 240, 240);
    }

    .file-item-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .selected-files-container{
      border: 2px solid rgb(200, 200, 200);
      border-radius: 10px;
      padding: 10px;
      margin-top: 20px;
    }

    .file-too-large.file-item-container{
      border: 2px solid rgb(255, 0, 0) !important;
      background-color: rgb(255, 200, 200) !important;
    }

    p.file-too-large-text, p.incompatible-file-type-text{
      display: none;
      color: black;
    }

    .agent-response-container{
      border: 2px solid rgb(200, 200, 200);
      background-color: rgb(240, 240, 240);
      border-radius: 10px;
      padding: 10px;
      margin-top: 20px;
          min-height: 300px;
    }

    .header-container-image{
      background-color: white;
    }

    .task-item{
      border: 1px solid rgb(200, 200, 200);
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      background-color: rgb(240, 240, 240);
    }
    
}

#loading-text{
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-hide{
  opacity: 0 !important;
}

body{
  height: 100vh;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.app-container, .home-page-container, .home-container, .response-container{
  height: 100%;
}

select{
  cursor: pointer;
}


.header-container-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: sticky;
  top: 0;
  width: 100%;
}

.file-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow:hidden;
  opacity: 0;
  padding: 0px !important;
  margin: 0px;
  cursor: pointer;
}

.button-accept{
  background-color: rgb(41, 97, 218);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.button-accept:hover{
  background-color: rgb(31, 77, 198);
  outline: none;
}

.button-accept:disabled{
  background-color: rgb(150, 150, 150);
  cursor: not-allowed;
}

.center-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

  .file-too-large p.file-too-large-text, .incompatible-file-type p.incompatible-file-type-text{
    display: block;
  }

  .image-button{
    background: none;
    border: none;
    cursor: pointer;
    filter:brightness(1);
    transform: scale(1);
    transition: transform 0.2s ease, filter 0.2s ease;
  }

  .image-button:hover{
    filter: brightness(0.8);
    transform: scale(1.1);
  }

  .loading-spinner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
  }

  .export-stack{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .export-stack .button-accept{
    margin:0px;
    padding: 10px 20px;
  }

  .loading-spinner{
    transform: scale(1);
  }

  .task-description{
    white-space: pre-wrap;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
  }

  .task-title{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  label{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .task-details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .task-item label{
    margin-left: 0px;
    margin-right: 0px;
  }

  .task-details-container-fullwidth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .task-details-subcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }

  .task-details-subcontainer label{
    width: 100%;
    box-sizing: border-box;
  }

  .task-details-subcontainer input, .task-details-subcontainer select{
    width: 100%;
    box-sizing: border-box;
  }

  textarea{
    resize: vertical;
    min-height: 100px;
  }

  .task-priority{
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    box-sizing: border-box;
  }

  .task-priority.Critical{
    border-color: rgb(255, 54, 54) !important;
    outline: none;
  }

  .task-priority.Critical:focus{
    outline: 1px solid rgb(255, 54, 54) !important;
  }

  .task-priority.High{
    border-color: rgb(255, 140, 0) !important;
    outline: none;
  }

    .task-priority.High:focus{
    outline: 1px solid rgb(255, 140, 0) !important;
  }

  .task-priority.Medium{
    border-color: rgb(255, 206, 0) !important;
  }

  .task-priority.Medium:focus{
    outline: 1px solid rgb(255, 206, 0) !important;
  }

  .task-priority.Low{
    border-color: rgb(0, 128, 0) !important;
  }

  .task-priority.Low:focus{
    outline: 1px solid rgb(0, 128, 0) !important;
  }

